body {
    min-width: 320px;
    max-width: 750px;
    /* 由于flexble.js是根据屏幕划分的，所以这样写会有问题， 需要添加一个最大宽度，这样最大宽度超出部分，就能看得到版心在中间，320-750之间是版心*/
    /* flexible给我们划分了十等份，所以width才改成10rem */
    width: 10rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial,Helvetica;
    background: #f2f2f2;
}

a {
    text-decoration: none;
    font-size: .333333rem /* 25/75 */;
}



/* 这个插件默认的html文字大小 cssroot 16px  1rem=16px */
/* 顶部固定模块制作 search-content */
@media screen and (min-width:750px) {
    html {
        font-size: 75px!important;
        /* 这里添加importrant的理由是因为flexblie的权重比它高 */
    }
}
/* 如果屏幕超过750px 那么我们就按照750设计稿来走，不会让页面超过750px */
.search-content {
    /* 这里遇到问题1、屏幕超过750px，所以铺满了整个页面 
    需要添加限定
    */
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* 不能使用百分之百，因为脱标了它不管你谁是父元素，它相对定位是相对于浏览器的 */
    width: 10rem;
    height: 1.173333rem /* 88/75 */;
    background: #ffc001;
}
.classify {
    width: .586667rem /* 44/75 */;
    height: .933333rem /* 70/75 */;
    margin: .146667rem  .333333rem .133333rem;
    background: url(../images/classify.png) no-repeat;
    background-size: .586667rem .933333rem;
}
.search {
    flex: 1;
}
.search input {
    outline: none;  /*点击后的蓝色边框去掉*/
    border: 0;
    width: 100%;
    height: .88rem /* 66/75 */;
    font-size: .333333rem /* 25/75 */;
    background: #FFF2CC;
    border-radius: .44rem;
    margin-top: .133333rem /* 10/75 */;
    padding-left: .733333rem /* 55/75 */;
    color: #757575;
}
.login {
    width: 1rem /* 75/75 */;
    height: .933333rem /* 70/75 */;
    margin: .133333rem /* 10/75 */;
    color: #fff;
    text-align: center;
    line-height: .933333rem;
    font-size: .333333rem /* 25/75 */;
}